# Site settings
title: e.a.d.
description: Experiments in Art and Design is the strategy, design, and development studio of Juliette Cezzar and Jeremy Zilar.
url: "https://ead.technology"
baseurl: ""

# Build settings
markdown: kramdown
permalink: pretty

# Exclude from processing
exclude:
  - node_modules
  - package.json
  - package-lock.json
  - yarn.lock
  - tailwind.config.js
  - postcss.config.js
  - README.md
  - Gemfile
  - Gemfile.lock

# Collections
collections:
  pages:
    output: true
    permalink: /:name

# Defaults
defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
